version: "3.9"

services:
  postgres:
    image: postgres
    environment:
      - POSTGRES_DB=storagetier
      - POSTGRES_USER=storagetier_admin
      - POSTGRES_PASSWORD=admint_storagetier
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    entrypoint: /code/entrypoint.sh
    environment:
      - SECRET_KEY=my_verylong_secret_key=django--l*j=!pe!cz^p3@bglma!$^rfp6=n-7$)z4=-r1v6%e*#ar^l=4
      - DEBUG=1
      - DB_HOST=postgres
      - DB_NAME=storagetier
      - DB_USER=storagetier_admin
      - DB_PASS=admint_storagetier
      - ACCESS_TOKEN_LIFETIME=20
      - REFRESH_TOKEN_LIFETIME=1
    volumes:
      - .:/code/
    ports:
      - "8000:8000"
    depends_on:
      - postgres